<?xml version='1.0' encoding='utf-8'?>
<widget id="fellicht.couchfriends.controller" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Couchfriends</name>
    <description>
        Couchfriends gamepad controller.
    </description>
    <author email="developers@couchfriends.com" href="http://www.couchfriends.com">
        Couchfriends
    </author>
    <content src="index.html" />
    <icon src="src/img/logo.png" width="512" height="512" density="mdpi" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*.couchfriends.com/*" />
    <allow-intent href="https://*.couchfriends.com/*" />
    <allow-intent href="ws://*.couchfriends.com/*" />
    <allow-intent href="wss://*.couchfriends.com/*" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
